{% extends 'base.html' %}
{% block content %}
{% block topbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Wealth Admin</a>
  </div>
  <div class="collapse navbar-collapse" id="admin-navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/admin">Home</a>
      </li>
      <li>
        <a href="/admin/users">User</a>
      </li>
      <li>
        <a href="/sqla/simple/admin/post/">Post</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right"></ul>
  </div>
</nav>
{% endblock %}
{% endblock %}