{% extends 'base.html' %}
{% block content %}
<div class="container">
   <h4> 공지사항</h4>
    <p><a href="{{ url_for('private.list',board=url_for_bbs())}}" class="btn btn-xs btn-default">목록</a>
    <a href="{{ url_for('private.edit',no=post.no,board=url_for_bbs()) }}" class="btn btn-xs btn-default">수정</a>
    </p>
<hr/>
<div ><h3>{{ post.title }} </h3></div>
<hr/>
<p><span class='lead'>{{ post.user_id.name }}</span>
<span> no : {{ post.no }} </span><span> hitcount : {{ post.hitcount }} </span></p>
<hr/>
<div> {{ post.body|safe }} 
</div>
</div>
{% endblock %}