<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<title>My Tumblelog</title>
<link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>{% block topbar %}
  <style>.content {padding-top:80px;}</style>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h2>
              <a href="/" class="brand">My Tumblelog</a> <small>Starring Flask, MongoDB and MongoEngine</small>
          </h2>
          {% if current_user.is_authenticated %}
          | <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </div>
        <div class="navbar-collapse">
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}
    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
