<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<title>My Tumblelog</title>
<link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>{% block topbar %}
  <style>.content {padding-top:80px;}</style>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div style='text-align:right'>|
          {% if current_user.is_authenticated %}
          <small><a  href="{{ url_for('logout') }}">Logout</a></small>
          {% endif %}</div>
        <div class="navbar-header">
          
          <h3><a href="/" class="brand">Wealth</a><small></small></h3>
          
        </div>
        <div class="navbar-collapse">
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}
    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
